.fourthSection{ 
    justify-content: space-around;
      margin: 80px;  
       margin-top: 10px;   
    justify-content: center;
    align-items: center;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      padding-top: 50px; 
}
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    padding: 30px 50px;
  }
.fourthSection h1{
    font-size: 2.3rem;
    color: #fafafa;
    margin-bottom: 20px;
}
.project-card {
    background-color: rgb(18,18,62);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
  }
  

  .project-card:hover {
    transform: translateY(-10px);
  }

  .project-header {
    font-size: 1.5rem;
    font-weight: normal;
    color: #f9f8f8;
  }

  .project-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
  }

  .project-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #999;
  }

  .project-info .tech-stack {
    display: flex;
    align-items: center;
  }

  .tech-stack span {
    margin-right: 8px;
    background-color: rgb(2, 57, 57) ;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 0.8rem;
  }

  .project-stats {
    display: flex;
    align-items: center;
  }

  .project-stats span {
    margin-left: 10px;
    font-size: 0.9rem;
  }

/* Achivements Section
 */
  .contain {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


h1 {
    /* text-align: center; */
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
}

.achievements {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #191f36;;
    gap: 20px;
}
.achievements :hover{
  transform: scale(1.05);
}
.achievement {
    background:  rgb(18,18,62);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.achievement img {
    max-width: 100px;
    margin-bottom: 15px;
    background: transparent;
}

.achievement h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.achievement p {
    font-size: 16px;
    color:white;
}